body 
{
    background-color: black;
    color: white;
    margin: 0; 
    font-family: "Gangster Grotesk", sans-serif;
}

header 
{
    display: block;
    width: 100%
}

.little-header 
{
    /* width: 95%; */
    margin: 20px;
    padding: 0px 20px;

}

.little-nav
{
    /* display: inline; */
    margin: 35px 0 0 0;
    /* float: right; */
}

nav > a 
{
    padding: 0px 10px; 
}

#content 
{
    font-size: 1.5em;
    line-height: 1.5;
    margin: 80px auto 60px auto;
    max-width: 800px;
    padding: 0 5%


}

article 
{
    color: #fafafa;
    font-size: 1.2rem;
    line-height: 1.8;
    letter-spacing: .0125em;
    position: relative;
}


article p:first-child::first-letter 
{
    /* display: inline-block; */
    font-family: "Noe Display";
    font-size: 6em;
    /* min-height: calc(66px+1.8rem); */
    float: left;
    line-height: 4.6rem;
    font-weight: bold;
    margin-right: .4em;
    margin-top: 2.2rem;
}

article p:first-child::after
{
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    top: -3rem;
    left: -4rem;
    height: 13rem;
    width: 12.5rem;
    border: 8px solid;
    border-image-source: linear-gradient(130deg, rgba(117,117,117,1) 0%, rgba(148,148,148,1) 26%, rgba(0,0,0,1) 61%, rgba(117,117,117,1) 86%);
    border-image-slice: 1;
}

#feature
{
    margin: 25px auto;
    box-sizing: border-box;
    padding-bottom: 20px;
    display: block;
    margin-top: 80px;
    position: relative;
}


.bordered
{
    background: linear-gradient(68deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 27%, rgba(0,0,0,1) 40%, rgba(191,191,191,1) 64%, rgba(227,227,227,1) 69%, rgba(0,0,0,1) 86%, rgb(87, 87, 87) 100%);
    padding: 8px;
    height: 30vw;
    /* width: 30vw; */
    max-height: 250px;
    /* max-width: 250px; */
    opacity: 0.5;
    margin-left: 200px;
    margin-top: -200px;
    margin-bottom: 100px;
    /* transition: transform 0.4s ease; */
}


.bordered > div
{
    background: #000;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
}

h1 {
    text-transform: capitalize;
}

h1, h2
{
    font-family: "Noe Display";
    font-size: 4.5rem;
    color: #cccccc;
    margin: 0;
    z-index: 1;
    position: relative;
    line-height: 1.3em;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}



h2
{
    font-weight: 100;
    font-size: 1.5rem;
    color: #aaaaaa;
    margin: 20px 0;
    text-shadow: none;
    line-height: 1.5em;
}

#related
{
    font-family: "Noe Display";
    font-size: 2rem;
    color: #eee;
    text-shadow: none;
    margin: 120px 0px 50px 0px;
    
}
            
#related:after
{
    content: "";
    width: 200px;
    height: 20px;
    background: linear-gradient(-90deg, #000, #555);
    display: block;
    transform: translate(20px, -20px);
    z-index: -1;
    position: relative;
}


h5
{
margin: 8px 0;
font-family: "Gangster Grotesk", sans-serif;
font-size: 0.9rem;
}

#feature h1
{
max-width: 585px;
}

#feature h2
{
max-width: 380px;
}

.bottom-anchored
{
position: absolute;
bottom: 32px;
right: 20px;
}

.card 
{
    position:relative;
    font-family: "Noe Display";
    width: 200px;
    height: 250px;
    min-width: 200px;
    margin: 10px;
    border: 8px solid;
    /* border-radius: 3px; */
    border-image-source: linear-gradient(68deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 27%, rgba(0,0,0,1) 40%, rgba(191,191,191,0.5) 64%, rgba(227,227,227,0.5) 69%, rgba(0,0,0,1) 86%, rgb(87, 87, 87) 100%); 
    border-image-slice: 1;
    display: table;
    vertical-align: middle;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.card h4 
{
    margin-top: 20px;
    font-size: 1.2rem;
    padding: 0 15px; 
    opacity: 0.8;
}

.card h5 
{
    text-transform: capitalize;
    color: #808080;
    margin: 2px 0;
}

.card:hover, .card:focus
{
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

#recommended 
{
    width: 100%;
    margin: 0;
    display: flex;
    /* overflow: auto; */
}

.recommended-bottom 
{
    position: absolute;
    bottom: 10px;
    right: 83px;
}
