body 
{
    background-color: black;
    color: white;
    margin: 0; 
    font-family: "Gangster Grotesk", sans-serif;
}

header 
{
    display: block;
    width: 100%
}

.little-header 
{
    /* width: 95%; */
    margin: 20px;
    padding: 0px 20px;

}

.little-nav
{
    /* display: inline; */
    margin: 35px 0 0 0;
    /* float: right; */
}

nav > a {
    padding: 0px 10px; 
}

#content {
    font-size: 1.5em;
    line-height: 1.5;
    margin: 80px auto 60px auto;
    max-width: 800px;
    padding: 0 5%


}

article {
    color: #fafafa;
    font-size: 1.2rem;
    line-height: 1.8;
    letter-spacing: .0125em;
    
}

/* @supports (not(initial-letter: 5)) and (not(-webkit-initial-letter: 5)) { */
article::first-letter {
    /* display: inline-block; */
    font-family: "Noe Display";
    font-size: 6em;
    /* min-height: calc(66px+1.8rem); */
    float: left;
    line-height: 8rem;
    border: 8px solid;
    border-image-source: linear-gradient(130deg, rgba(117,117,117,1) 0%, rgba(148,148,148,1) 26%, rgba(0,0,0,1) 61%, rgba(117,117,117,1) 86%);
    border-image-slice: 1;
    font-weight: bold;
    margin-right: .3em;
    padding: 0 25px;
}
/* } */


@supports (initial-letter: 5) or (-webkit-initial-letter: 5) {
    article::first-letter {
        font-size: 1.5em;
        margin: 0;
        -webkit-initial-letter: 3;
        initial-letter: 3;
        border: 8px solid;
        border-image-source: linear-gradient(130deg, rgba(117,117,117,1) 0%, rgba(148,148,148,1) 26%, rgba(0,0,0,1) 61%, rgba(117,117,117,1) 86%);
        border-image-slice: 1;
        color: white;
        font-weight: bold;
        margin-right: 1em;
        padding: 25px;
    }
}



#feature
{
    max-width: 510px;
    margin: 25px auto;
    box-sizing: border-box;
    padding: 30px 40px;
    display: block;
    margin-top: 80px;
    position: relative;
}


.bordered
{
    background: linear-gradient(68deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 27%, rgba(0,0,0,1) 40%, rgba(191,191,191,1) 64%, rgba(227,227,227,1) 69%, rgba(0,0,0,1) 86%, rgb(87, 87, 87) 100%);
    padding: 8px;
    height: 30vw;
    width: 30vw;
    max-height: 250px;
    max-width: 250px;
    opacity: 0.5;
    margin-left: 200px;
    margin-top: -150px;
    /* transition: transform 0.4s ease; */
}


.bordered > div
{
    background: #000;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
}

h1 {
    text-transform: capitalize;
}

h1, h2
{
    font-family: "Noe Display";
    font-size: 3.5rem;
    color: #cccccc;
    margin: 0;
    z-index: 1;
    position: relative;
    line-height: 1.3em;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}



h2
{
    font-weight: 100;
    font-size: 1.5rem;
    color: #aaaaaa;
    margin: 20px 0;
    text-shadow: none;
    line-height: 1.5em;
}


h5
{
margin: 8px 0;
font-family: "Gangster Grotesk", sans-serif;
font-size: 0.9rem;
}

#feature h1
{
max-width: 485px;
}

#feature h2
{
max-width: 380px;
}

.bottom-anchored
{
position: absolute;
bottom: 32px;
right: 20px;
}

.card {
    position:relative;
    font-family: "Noe Display";
    width: 200px;
    height: 200px;
    min-width: 200px;
    margin: 20px;
    border: 8px solid;
    /* border-radius: 3px; */
    border-image-source: linear-gradient(130deg, rgba(117,117,117,1) 0%, rgba(148,148,148,1) 26%, rgba(0,0,0,1) 61%, rgba(117,117,117,1) 86%);
    border-image-slice: 1;
    display: table;
    vertical-align: middle;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.card h3 {
    padding-left: 15px; 
}

.card h5 {
    text-transform: capitalize;
    color: #808080;
}

.card:hover, .card:focus
{
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
}

#recommended {
    width: 100%;
    margin: 50px 0;
    display: flex;
    overflow: auto;
}

.recommended-bottom {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
